<h1 class="header">
    Eat Da Burger!
</h1>

<div class="container">
    <div class="row">
        <div class="col-sm">
            <h2 class="h2-header">Add and Devour your Favorite Burger!</h2>
            <br />
            <form class="create-form">
                <div>
                    <input type="text" class="form-control" id="nb" placeholder="Enter Burger">
                </div>
                <br />
                <button type="submit" class="add-burger-button">Add Burger</button>
            </form>
        </div>

        <div class="col-sm">

            <h2 class="h2-header">To Be Eaten...</h2>


            <ul>
                {{#each burgers}}
                {{#unless devoured}}
                <li>
                    {{ burger_name }}
                    <button type="button" class="devour-button" data-id="{{id}}">NOM</button>
                </li><br>
                {{/unless}}
                {{/each}}
            </ul>

        </div>

        <div class="col-sm">

            <h2 class="h2-header">Devoured!</h2>
            <ul>
                {{#each burgers}}
                {{#if devoured}}
                <li>
                    {{burger_name}}
                </li>
                {{/if}}
                {{/each}}
            </ul>

        </div>
</div>