.header {
  margin-top: 40px;
  color: #fdde62;
}

.h2-header {
  color: black;
}

body {
  text-align: center;
  font-family: "Fredoka One", cursive;
  color: rgb(0, 0, 0);
}

.container {
  margin-top: 150px;
}

li {
  list-style-type: none;
  font-family: "Balsamiq Sans", cursive;
}

.add-burger-button,
.devour-button {
  margin: 5px;
  background-color: #92d695;
  border: none;
  padding: 5px 10px;
  text-align: center;
  display: inline-block;
  font-size: 12px;
  border-radius: 12px;
  font-family: "Balsamiq Sans", cursive;
}
